*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #0a0a0a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}




.heroBottom{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.heroPill{
  font-family: Helvetica, Arial, sans-serif;
  font-size: clamp(34px, 5vw, 88px);
  font-weight: 750;
  letter-spacing: -0.02em;
  color: white;

  width: 340px;
  height: 130px;

  border: 2px solid white;
  border-radius: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.heroPill:hover {
  
  color: black;
  border-color: yellow;
}
